<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Steganography Demo</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
  </head>

  <body>
    <div class="topnav">
    <a href="{{ url_for('encode') }}">Encode</a>
    <a href="{{ url_for('decode') }}">Decode</a>
    </div>


<!-- Message to be displayed-->
    {% if Original_Message %}
    <h2 class="text-center">{{ Original_Message }}</h2>
    {% endif %}

<!-- ORIGINAL FILE -->
    {% if Original_Image %}    
    <div class="d-flex justify-content-center">
        <img
          src="{{ url_for('display', filename=Original_Image) }}"
          style="width: auto; height: 30vh"
        />
      </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash1 }}</p>    
    {% endif %}

    {% if Original_Video %}
    <div class="d-flex justify-content-center">
      <video controls="controls" preload="preload" width="auto" height="240">
        <source src="{{ url_for('display', filename=Original_Video) }}" type="video/mp4"></source>
      </video>
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash1 }}</p>    
    {% endif %}

    {% if Original_Audio %}    
    <div class="d-flex justify-content-center">
      <audio controls>
        <source src="{{ url_for('display', filename=Original_Audio) }}" type="audio/mpeg"></source>
      </audio>
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash1 }}</p>    
    {% endif %}

    {% if Original_Document %}    
    <div class="d-flex justify-content-center">
      <iframe src="{{ url_for('display', filename=Original_Document) }}" frameborder="0" style="border: 1px solid black;" height="500px" width="70%"></iframe>
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash1 }}</p>    
    {% endif %}

<!-- STEGOED FILE-->
    {% if Stegoed_Message %}
    <h2 class="text-center">{{ Stegoed_Message }}</h2>
    {% endif %}

    {% if Stegoed_Image %}
    <div class="d-flex justify-content-center">
    <img
        src="{{ url_for('display', filename=Stegoed_Image) }}"
        style="width: auto; height: 30vh"
    />
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash2 }}</p>    
    {% endif %}

    {% if Stegoed_Video %}    
    <div class="d-flex justify-content-center">
      <video controls="controls" preload="preload" width="auto" height="240">
        <source src="{{ url_for('display', filename=Stegoed_Video) }}" type="video/mp4"></source>
      </video>
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash2 }}</p>    
    {% endif %}

    {% if Stegoed_Audio %}    
    <div style="margin-top: 10vh;"></div>
    <div class="d-flex justify-content-center">          
      <audio controls>
        <source src="{{ url_for('display', filename=Stegoed_Audio) }}" type="audio/mpeg"></source>
      </audio>
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash2 }}</p>    
    <div style="min-height: 23vh;"></div>
    {% endif %}
    
    {% if Stegoed_Document %}    
    <div class="d-flex justify-content-center">
      <iframe src="{{ url_for('display', filename=Stegoed_Document) }}" frameborder="0" style="border: 1px solid black;" height="500px" width="70%"></iframe>
    </div>
    <p class="text-center" style="margin-top: 2vh;">{{ Hash2 }}</p>    
    {% endif %}

<!--Payload Display-->
    {% if Payload %}    
    <h2 class="text-center" style="margin-top: 2vh;">Payload</h2>
    <div class="d-flex justify-content-center">
      <iframe src="{{ url_for('display', filename=Payload) }}" frameborder="0" style="border: 1px solid black;" height="500px" width="70%" allowfullscreen></iframe>
    </div>

    {% endif %}

<!--Extra spacing if required-->
    {% if twenty %}
    <div style="height: 20vh;"></div>
    {% endif %}

    {% if forty %}
    <div style="height: 40vh;"></div>
    {% endif %}

    {% if sixty %}
    <div style="height: 60vh;"></div>
    {% endif %}

<!--Bottom bar-->
  <div class="bg-dark" style="height: 10vh;">
          <img
          src="{{ charmander }}"
          style="margin-left: 88vw; margin-top: -20vh; width: auto; height: 12vh"
        />
    </div>


  </body>
</html>
