
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask-File Drag Drop System</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="mystyle.css">

  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px Solid Grey; margin: auto; min-height: 400px; width: 50vw; border-radius: 25px; background-color: lightgray;') }}
</head>
<body>
	<div class="d-flex justify-content-center">	
    <h1>CSC2004 LSB Stegnography</h1>
  </div>

  {{ dropzone.create(action='upload') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}

<div class="form">
<form method="POST" action="/">
    <input type="submit" value="Go">
</form>
</div>

</body>
</html>